@import './reusable_styles.scss';

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

.hoopow_menu {
  @include flex(null);
  @include center;
  margin-bottom: 20px;
  @include pointer;
  .menu {
    padding: 7.5% 5%;
    margin-right: 5%;
    border-radius: 20%;
    width: 100%;
    height: 30px;
    background-color: #fff;
    @media (max-width: $desktop), (max-width: $tablet), (max-width: $phone) {
      margin-right: 10px;
      height: 20%;
    }
  }
  .logo {
    @media (max-width: $desktop), (max-width: $tablet), (max-width: $phone) {
      width: 100%;
      height: 80%;
    }
  }
}
.Sidebar {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 20vw;
  max-width: 20vw;
  position: sticky;
  padding: 20px 25px;
  background-color: #000;

  .bluebox {
    @include flex(1);
    @include center;
    flex-direction: column;
    background-color: #51aabc;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 20px 40px;
    max-height: 50px;
    @media (max-width: $desktop), (max-width: $tablet), (max-width: $phone) {
      padding: 2.5px 5px;
    }

    span {
      color: #fff;
      font-size: 17px;
      @media (max-width: $desktop) {
        font-size: 0.7rem;
      }
      @media (max-width: $tablet), (max-width: $phone) {
        font-size: 0.5rem;
      }
    }
  }
  .muslim_show {
    img {
      width: 100%;
    }
    margin-bottom: 1.4rem;
  }
  .BD-sidebar {
    @include flex(null);
    @include center;
    flex-direction: column;
    padding: 5% 0px 1% 0px;
    img {
      width: 80%;
      height: 100%;
      border-radius: 5px;
      @media (max-width: $desktop) {
        width: 100%;
      }
    }
    span {
      color: #fff;
      padding-top: 5px;
      font-size: 17px;
      text-transform: capitalize;
    }
  }

  .buttons_container {
    padding-top: 10%;
    .share_button {
      @include flex(null);
      @include center;
      flex-direction: column;
      padding-bottom: 20%;
      @include pointer;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
      }
      @media (max-width: $desktop) {
        padding-bottom: 5%;
        img {
          width: 20%;
          height: 10%;
        }
        span {
          font-size: 0.7rem;
          padding-top: 5%;
        }
      }
      @media (max-width: $tablet) {
        padding-bottom: 0%;
        span {
          font-size: 0.5rem;
        }
      }
    }

    .button {
      @include flex(null);
      @include center;
      @include pointer;
      text-decoration: none;
      border: 2px #fff solid;
      border-radius: 42px;
      padding: 4% 10%;
      margin: 7% 0px;
      position: relative;
      img {
        width: 35px;
      }
      span {
        flex: 1;
        color: #fff;
        font-size: 1rem;
        width: 100%;
      }
      @media (max-width: $desktop) {
        img {
          width: 20%;
          height: 30%;
          padding: 0px;
        }
        span {
          font-size: 0.7rem;
        }
      }
      @media (max-width: $tablet) {
        img {
          width: 20%;
        }
        span {
          font-size: 0.4rem;
        }
      }
    }
  }
  .subscribe_container {
    background-color: #51aabc;
    padding-top: 5%;
    border-radius: 15px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    @media (max-width: $desktop), (max-width: $tablet), (max-width: $phone) {
    }
    span {
      font-size: 27px;
      @media (max-width: $desktop) {
        font-size: 0.8rem;
      }
      @media (max-width: $tablet), (max-width: $phone) {
        font-size: 0.5rem;
      }
    }

    .subscribe_button {
      background-color: #ffc600;
      padding: 0px 5px;
      @include pointer;

      font-size: 27px;
      @media (max-width: $desktop) {
        font-size: 0.8rem;
      }
      @media (max-width: $tablet), (max-width: $phone) {
        font-size: 0.5rem;
      }
    }
    .image_container {
      position: relative;
      .subscribe_man {
        padding-left: 45%;
        height: 25vh;
        @media (max-width: $desktop),
          (max-width: $tablet),
          (max-width: $phone) {
          height: 20vh;
          padding-left: 25%;
        }
      }
      .already_subscribed {
        position: absolute;
        left: 10%;
        bottom: 35%;
        @include pointer;
        font-size: 17px;
        @media (max-width: $desktop),
          (max-width: $tablet),
          (max-width: $phone) {
          font-size: 0.5rem;
        }
      }
    }
  }
}
