@import './styles/reusable_styles.scss';

.App {
  text-align: center;
  display: flex;
  flex: 1;
  max-height: 100vh;
  overflow: hidden;
}
.disable {
  visibility: hidden;
  opacity: 0;
  cursor: auto;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

body {
  background-color: #000;
}

.bold {
  font-weight: bold;
}

.fs20 {
  font-size: 20px;
}
